In [262]:
import numpy as np 
import pandas as pd
from textblob import TextBlob
import nltk
import string
import collections 
from itertools import permutations 
import math 
import matplotlib.pyplot as plt 
import seaborn as sns

In [263]:
train_df = pd.read_csv("/content/train_set.csv")
test_df = pd.read_csv("/content/test_set.csv")

In [264]:
train_df.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [265]:
test_df.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

Preprocessing

In [266]:
def pre_process(df, column):
  df[column] = df[column].str.lower()
  
  df = df.dropna()
  df[column] = df[column].astype(str)
  #df['lang_id'] = df['lang_id'].astype(str)

  return df

In [267]:
def features(df, column):
  punc = ('!', "," ,"\'" ,";" ,"\"", ".", "-" ,"?")
  vowels=['a','e','i','o','u']
  zulu_combos = ['uk']
  tswana_combos = ['og']

  same_consecutive_vowels = ['aa','ee', 'ii', 'oo', 'uu'] 
  consecutive_vowels = [''.join(p) for p in permutations(vowels,2)]
  df['word_count'] = df[column].apply(lambda x : len(x.split()))
  df['character_count'] = df[column].apply(lambda x : len(x.replace(" ","")))
  df['word_density'] = df['word_count'] / (df['character_count'] + 1)
  df['punc_count'] = df[column].apply(lambda x : len([a for a in x if a in punc]))
  df['w_char_count'] = df[column].apply(lambda x : len([a for a in x if a.casefold() == 'w']))
  df['x_char_count'] = df[column].apply(lambda x : len([a for a in x if a.casefold() == 'x']))
  df['q_char_count'] = df[column].apply(lambda x : len([a for a in x if a.casefold() == 'q']))
  df['o_char_count'] = df[column].apply(lambda x : len([a for a in x if a.casefold() == 'o']))
  df['uk_char_count'] = df['text'].apply(lambda x : sum([any(d_c in a for d_c in zulu_combos) for a in x.split()]))
  df['og_char_count'] = df['text'].apply(lambda x : sum([any(d_c in a for d_c in tswana_combos) for a in x.split()]))
  df['num_double_consec_vowels'] = df[column].apply(lambda x : sum([any(c_v in a for c_v in same_consecutive_vowels) for a in x.split()]))
  df['num_consec_vowels'] = df[column].apply(lambda x : sum([any(c_v in a for c_v in consecutive_vowels) for a in x.split()]))
  df['num_vowels'] = df[column].apply(lambda x : sum([any(v in a for v in vowels) for a in x.split()]))
  df['vowel_density'] = df['num_vowels']/df['word_count']
  df['num_punctuation'] = df[column].apply(lambda x: sum(x.count(w) for w in punc))
  df['num_unique_words'] = df[column].apply(lambda x: len(set(w for w in x.split())))
  df['num_repeated_words'] = df[column].apply(lambda x: len([w for w in collections.Counter(x.split()).values() if w > 1]))
  df['words_vs_unique'] = df['num_unique_words'] / df['word_count']
  df['encode_ascii'] = np.nan
  
  for i in range(len(df)):
      try:
          df[column].iloc[i].encode(encoding='utf-8').decode('ascii')
      except UnicodeDecodeError:
          df['encode_ascii'].iloc[i] = 0
      else:
          df['encode_ascii'].iloc[i] = 1

  return df

In [268]:
pre_process(train_df, 'text')

      lang_id                                               text
0         xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1         xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2         eng  the province of kwazulu-natal department of tr...
3         nso  o netefatša gore o ba file dilo ka moka tše le...
4         ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...
...       ...                                                ...
32995     tsn  popo ya dipolateforomo tse ke go tlisa boetele...
32996     sot  modise mosadi na o ntse o sa utlwe hore thaban...
32997     eng  closing date for the submission of completed t...
32998     xho  nawuphina umntu ofunyenwe enetyala phantsi kwa...
32999     sot  mafapha a mang le ona a lokela ho etsa ditlale...

[33000 rows x 2 columns]

In [269]:
features(train_df, 'text')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      lang_id  ... encode_ascii
0         xho  ...          1.0
1         xho  ...          1.0
2         eng  ...          1.0
3         nso  ...          0.0
4         ven  ...          1.0
...       ...  ...          ...
32995     tsn  ...          0.0
32996     sot  ...          1.0
32997     eng  ...          1.0
32998     xho  ...          1.0
32999     sot  ...          1.0

[33000 rows x 21 columns]

In [270]:
train_df.groupby('lang_id').mean().T

lang_id                          afr         eng  ...         xho         zul
word_count                 39.285333   40.233333  ...   27.293333   26.595667
character_count           207.641000  206.600667  ...  218.889000  217.284333
word_density                0.189002    0.194288  ...    0.124324    0.121945
punc_count                  0.693000    0.341667  ...    0.813667    0.546000
w_char_count                4.108667    2.193000  ...    6.948000    6.274000
x_char_count                0.013667    0.437667  ...    1.117333    0.292333
q_char_count                0.004000    0.263000  ...    1.771667    1.403667
o_char_count               12.765333   16.127333  ...   15.368000   13.942333
uk_char_count               0.143333    0.004333  ...    2.038000    2.191667
og_char_count               0.207333    0.128333  ...    0.037000    0.051667
num_double_consec_vowels    6.481000    0.714667  ...    0.989000    0.034000
num_consec_vowels          10.865000    6.799333  ...    0.113000    0.156667
num_vowels                 37.075333   39.287333  ...   27.153333   26.379000
vowel_density               0.945694    0.976740  ...    0.994999    0.992248
num_punctuation             0.693000    0.341667  ...    0.813667    0.546000
num_unique_words           30.311000   30.506000  ...   25.596333   24.914333
num_repeated_words          5.739333    6.046333  ...    1.488333    1.422000
words_vs_unique             0.777110    0.763545  ...    0.939799    0.939204
encode_ascii                0.647333    0.967667  ...    0.997667    0.998000

[19 rows x 11 columns]

In [271]:
train_df.corr(method ='pearson')

                          word_count  ...  encode_ascii
word_count                  1.000000  ...     -0.343848
character_count             0.095753  ...      0.142325
word_density                0.896367  ...     -0.388976
punc_count                 -0.192857  ...      0.092827
w_char_count               -0.047636  ...      0.043889
x_char_count                0.041809  ...      0.164965
q_char_count               -0.342336  ...      0.208092
o_char_count                0.393537  ...     -0.208135
uk_char_count              -0.468091  ...      0.234773
og_char_count               0.171658  ...     -0.173666
num_double_consec_vowels    0.100850  ...     -0.090762
num_consec_vowels           0.360628  ...     -0.188262
num_vowels                  0.993938  ...     -0.342694
vowel_density              -0.097495  ...      0.030332
num_punctuation            -0.192857  ...      0.092827
num_unique_words            0.834345  ...     -0.246736
num_repeated_words          0.840256  ...     -0.327448
words_vs_unique            -0.783320  ...      0.333070
encode_ascii               -0.343848  ...      1.000000

[19 rows x 19 columns]

# Set up inputs for ML

In [272]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn import svm
from sklearn.model_selection import train_test_split 
from sklearn.decomposition import PCA 
from sklearn.preprocessing import StandardScaler 
from sklearn import metrics 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

In [287]:
target = train_df['lang_id']

feature = train_df.drop(['lang_id', 'text'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2) # 80% train and 20% test

In [288]:
dt_clf = DecisionTreeClassifier() 
dt_clf = dt_clf.fit(X_train,y_train)

In [289]:
y_pred = dt_clf.predict(X_test) #Predict the response for test dataset

In [290]:
accuracy_score_dt = accuracy_score(y_test, y_pred)
print(accuracy_score_dt)

0.7415151515151515

In [291]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         afr       0.96      0.96      0.96       565
         eng       0.79      0.80      0.80       572
         nbl       0.62      0.67      0.65       606
         nso       0.80      0.79      0.79       594
         sot       0.66      0.66      0.66       580
         ssw       0.80      0.80      0.80       645
         tsn       0.59      0.59      0.59       645
         tso       0.92      0.92      0.92       607
         ven       0.76      0.79      0.78       584
         xho       0.68      0.67      0.67       589
         zul       0.58      0.53      0.55       613

    accuracy                           0.74      6600
   macro avg       0.74      0.74      0.74      6600
weighted avg       0.74      0.74      0.74      6600

Random Forest Classifier

In [292]:
rf_clf = RandomForestClassifier(random_state = 42)
rf_clf = rf_clf.fit(X_train, y_train)

y_pred = rf_clf.predict(X_test)

accuracy_score_rf = accuracy_score(y_test, y_pred)
print(accuracy_score_rf)

0.8140909090909091

In [293]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         afr       0.97      0.99      0.98       565
         eng       0.88      0.88      0.88       572
         nbl       0.73      0.72      0.72       606
         nso       0.82      0.94      0.87       594
         sot       0.70      0.83      0.76       580
         ssw       0.80      0.91      0.85       645
         tsn       0.81      0.54      0.65       645
         tso       0.96      0.95      0.95       607
         ven       0.86      0.88      0.87       584
         xho       0.85      0.68      0.75       589
         zul       0.64      0.66      0.65       613

    accuracy                           0.81      6600
   macro avg       0.82      0.82      0.81      6600
weighted avg       0.82      0.81      0.81      6600

Gradient Booster Classifier

In [281]:
gb_clf = GradientBoostingClassifier()
gb_clf = gb_clf.fit(X_train, y_train)

y_pred = gb_clf.predict(X_test)

accuracy_score_gb = accuracy_score(y_test, y_pred)
print(accuracy_score_gb)

0.7571212121212121

In [282]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         afr       0.97      0.98      0.97       587
         eng       0.81      0.84      0.82       622
         nbl       0.61      0.55      0.58       627
         nso       0.79      0.91      0.85       615
         sot       0.71      0.78      0.74       578
         ssw       0.70      0.90      0.79       597
         tsn       0.73      0.50      0.59       612
         tso       0.93      0.93      0.93       593
         ven       0.83      0.84      0.84       592
         xho       0.68      0.61      0.64       581
         zul       0.55      0.52      0.53       596

    accuracy                           0.76      6600
   macro avg       0.75      0.76      0.75      6600
weighted avg       0.75      0.76      0.75      6600

Make predictions

In [283]:
features(test_df, 'text')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      index  ... encode_ascii
0         1  ...          1.0
1         2  ...          1.0
2         3  ...          1.0
3         4  ...          1.0
4         5  ...          1.0
...     ...  ...          ...
5677   5678  ...          1.0
5678   5679  ...          0.0
5679   5680  ...          1.0
5680   5681  ...          1.0
5681   5682  ...          1.0

[5682 rows x 21 columns]

In [294]:
i = test_df['index']
f = test_df.drop(['index', 'text'], axis =1)

In [295]:
pred = rf_clf.predict(f)

In [296]:
sub_dict = {'index' : i,
          'lang_id': pred}
sub_df = pd.DataFrame(sub_dict)
sub_df.head()

   index lang_id
0      1     eng
1      2     zul
2      3     ssw
3      4     ssw
4      5     ssw

Save as csv

In [297]:
sub_df.to_csv("SUB5.csv", index=False )